<!DOCTYPE html>
{% load static %}
<html lang="en-US">
  <head>
    <title>{% block title %} Pay Bill Reports  {% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    {% block css %}
      <link rel="stylesheet" href="{% static 'css/payment.css' %}" />
    {% endblock css %}

  </head>

  <body>
    {% if pay %}
    <table>
      <tr>
        <th>ID</th>
        <th>Payment ID</th>
        <th>Payment Option</th>
        <th>Minimum Payment</th>
      </tr>

      {% for pay in pay %}
      <tr>
        <td>{{ pay.id }}</td>
        <td>{{ pay.pay_id }}</td>
        <td>{{ pay.pay_option }}</td>
        <td>{{ pay.min_pay }}</td>
      </tr>
      {% endfor %}

    </table>
    {% else %}
    <h1>No data on database!</h1>
    {% endif %}
 
  </body>
</html>
